# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
*.v11.suo
packages/
*.mdf
*.ldf
*.vspx
*.vsp
*.psess
_NCrunch_MessageMonitor*/
*.ncrunchproject